body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header_bg.png) no-repeat fixed center;
    background-size: cover;
    transform: translateZ(-999px) scale(1.07);
}

.header__content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.header-logo__img {
    margin-top: 10%;
}

.header__title {
    margin: 10% 0 0;
    font-size: 4em;
    color: white;
}

.header__text {
    margin: 2% 7% 0 7%;
    padding-bottom: 5%;
    font-size: 1em;
    color: white;
}
