body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.header {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/header_bg.png) no-repeat fixed center;
    background-size: cover;
    transform: translateZ(-999px) scale(1.07);
}

.header__content,
.menu__content {
    width: 80%;
    margin: auto;
    text-align: center;
}

.header-logo__img {
    margin-top: 10%;
}

.header__title {
    margin: 10% 0 0;
    font-size: 4em;
    color: white;
}

.header__text {
    margin: 2% 7% 0 7%;
    padding-bottom: 5%;
    font-size: 1em;
    color: white;
}

.menu {
    padding-top: 1%;
    text-align: center;
    background-color: #ece9e9;
}

.title-h1 {
    font-size: 2em;
}

.dish {
    display: inline-block;
    width: 45%;
    margin-top: 2%;
    margin-bottom: 5%;
    vertical-align: top;
}

.subtitle-h6 {
    margin-bottom: -1%;
    font: 300 1em 'Comfortaa', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.dish-ingredients__text {
    padding: 0 12% 0 12%;
    font: 1em 'Open Sans', sans-serif;
    line-height: 1.5em;
}